{% render 'partials/head.liquid', title: 'Squad page' %}

<a href="">Sorteer normaal</a>

<h2>Students</h2>
<ul>
  {% for person in persons %}
    <li><a href="/student/{{ person.id }}"> {{ person.team }} <img src="{{ person.avatar }}" alt=""> {{ person.name }}</a></li>
  {% endfor %}
</ul>

{% render 'partials/foot.liquid', squads: squads %}